{% extends "base.html" %}

{% block content %}
    <body class="login-content">
        <!-- Login -->
        <div class="lc-block toggled" id="l-login">
            <section>
                <form action={% url "users:login" %} method="POST">
                {% csrf_token %}
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input type="text" name="nickname" class="form-control" placeholder="nickname을 적어주세요." required>
                        </div>
                    </div>
                
                    <div class="input-group m-b-20">
                        <span class="input-group-addon">
                            <i class="md md-accessibility"></i>
                        </span>
                        <div class="fg-line">
                            <input type="password" name="password" class="form-control" placeholder="Password를 적어주세요." required>
                        </div>
                    </div>

                    <button class="btn btn-login btn-danger btn-float" type="submit" value="login">
                        <input type="hidden" name="text" value="{{ request.GET.next }}">
                        <i class="md md-arrow-forward"></i>
                    </button>

                    <ul class="login-navigation">
                        <a data-block="#l-signup" href="{% url "users:signup" %}" class="btn bgm-pink waves-effect waves-button waves-float">
                            Signup
                        </a>
                    </ul>
                </form>
            </section>
        </div>
        <!-- Login end -->


        <!-- Javascript Libraries -->
        <script src="/static/js/jquery-2.1.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/vendors/waves/waves.min.js"></script>
        <script src="/static/js/functions.js"></script>
    </body>
{% endblock %}
